

@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Italianno&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  overflow-y: scroll;
  /* Enable vertical scrolling */
  overflow-x: auto;
  /* Allow horizontal scrolling when needed */
  font-family: 'Montserrat', sans-serif;
  /* Hide the vertical scrollbar */
  scrollbar-width: none;
  /* For Firefox */
  -ms-overflow-style: none;
  /* For IE and Edge */
  font-size: 0.75rem; /* xs size */
}

/* Hide webkit scrollbar */
body::-webkit-scrollbar {
  display: none;
  /* For Chrome, Safari, and Opera */
}

/* Hide number input spinners */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide number input spinners in Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
